.container{
  background-image: url(images/wallpaper.jpg);
}
h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: left;
  color:black;
  margin-top: 10px;
  padding-bottom: 2px;
  font-size: 50px;
  text-shadow: 3px 3px 6px red;
}
 h2{
  font-weight: bold;
  color:white;
  font-family: cursive;
 }
 .overlay{
  margin-left: 25%;
  margin-right: 16%;
  opacity: 1;
  border-radius: 12px;
}


